{% include 'partial/base.html' %}
{% load crispy_forms_tags %}
{% block title %} <title>Product | Inventory</title> {% endblock %}

{% block content %}

    <div class="p-2">{% include 'partial/message.html' %}</div>
    
    {% include 'partial/topbar.html' %}

    <!--Table-->
    <div class="container">
    
        <div class="row my-4">
            <div class="col-md-4">
                {% if request.user.is_superuser %}
                <div class="border bg-white p-3">
                    <h4>Add Products</h4>
                    <hr>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-success btn-block" type="submit" value="Add Product">
                    </form>
                </div>
                {% endif %}
            </div>
        
        
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            {% if request.user.is_superuser %}
                            <th scope="col">Activity</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
        
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ product.name }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>
                                {% if request.user.is_superuser %}
                                <a class="btn btn-info btn-sm" href="{% url 'update' product.id %}">Edit</a>
                                <a class="btn btn-danger btn-sm" href="{% url 'delete' product.id %}">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                                	
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--End Table-->
{% endblock %}