{% extends 'partial/base.html' %}
{% block title %} <title> Product Update | Inventory </title> {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-3">

            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Update Product
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <input class="btn btn-success" type="submit" value="Submit">
                                </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!--End Table-->

{% endblock %}